body{
  font-family: 'roboto';
  color: #747487;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  background-color: whitesmoke;
}
.imgEdit{
  background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
}
.cha {
  position: relative;
  /* margin-top: 104px; */
  /* overflow: hidden; */
}
.img-slide1{
  height: 500px;
  background-image: url("https://dl.airtable.com/.attachments/470b99ae8a22a94a7b7f4b6f6ebadc6d/be65fde8/FS-vi2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.imglogin{
  background-image: url("./component/img/slide-img2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.form1 {
  background-image: url("./component/img/slide-img2.jpg");
  height: 650px !important;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  animation: zoom 30s infinite ease-in-out;
  overflow: hidden;
}
.modal-backdrop.fade.show{    z-index: 100;}
.title_banner {
  position: absolute;
  top: 30%;
  color: white;
  font-size: 60px;
  font-weight: 700;
  left: 3%;
}
.title_banner2 {
  position: absolute;
  top: 42%;
  color: white;
  font-size: 50px;
  font-weight: 700;
  left: 3%;
}
.giamgiabanner{
  font-weight: 700;
  font-size: 90px;
  color: #f5d311;
}
.banner{
  overflow: hidden;
}
.danhmucsanpham {
  position: relative;
  top: -73px;
  z-index: 100;
  background-color: white;
  max-width: 1240px;
  margin: 0 auto;
}
.card.pt-3.text-center {
  border: none;
}
a.card-title.tensp{
  color: #333 !important;
}
a.card-title.tensp:hover{
  color: #f2b02e !important;
}
.card.text-center {
  border: none;
}
.spbanchay{
background-color: #fff;
max-width: 1240px;
margin: 0 auto;
}
p.gia.mt-4 {
  font-weight: 600;
  color: #08c25e;
}
button.carousel-control-prev {
  border: none;
  background: transparent;
}
button.carousel-control-next {
  border: none;
  background: transparent;
}
@-webkit-keyframes zoom {
  from {
      transform: scale(0.5);
  }
}
@keyframes zoom{
  to{
    transform: scale(1.5);
    animation: zoom 10s;
  }
}
.MenuRow{
  color: #08c25e  !important;
  font-weight: 600;
  font-size: 15px !important;
}
.MenuRow1{
  color: #f5d311  !important;
  font-weight: 600;
  font-size: 15px !important;
}
.MenuRow:hover{
  color: #f5d311  !important;
  font-weight: 600;
}
.MenuRow1:hover{
  color: #08c25e  !important;
  font-weight: 600;
}
.cartMenu{
  color: #ed6663  !important;
  font-size: 30px !important;
}
.avt{
  border-radius: 50% !important;
  height: 50px !important;
  width: 50px !important;
}
.btn.dropdown-toggle{
  color: #fff;
  box-shadow: none;
}
input.form-control.search {
  border-radius: 30px;
  box-shadow: none;
  border: solid 1px #f5d311;
}
.menu {
  /* position: absolute; */
  /* position: relative; */
  top: 0;
  z-index: 10000;
  width: 100%;
  margin: 0;
  padding: 0;
  /* margin: 0 auto; */
}
.btnlogin.p-2 {
  background-color: #08c25e;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  box-shadow: none !important;
  outline: none;
  width: 98px;
  border: none;
}
.btnlogin.p-2:hover {
  background-color: #f5d311;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  transition: 1s;
}
.btn-ThanhToan{
  background-color: #08c25e;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  box-shadow: none !important;
  outline: none;
}
.btn-ThanhToan:hover {
  background-color: #f5d311;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  transition: 1s;
}
.btnsave.p-2 {
  background-color: #08c25e;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  box-shadow: none !important;
  outline: none;
  border: none;
  width: 50px;
}
.btnsave.p-2:hover {
  background-color: #f5d311;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  transition: 1s;
}
.tanggiam{
  background: #fff;
  border: 1px #ddd solid;
  border-radius: 999px;
  padding: 1px 2px;
  max-width: 150px;
  height: 52px;
}
.sl{
  display: inline-block;
}
.btn.sl.sum{
  border-radius: 50%;
  color: black;
  font-weight: bold;
  outline: none;
  height: 50px;
  width: 50px;
  font-weight: bold;
  box-shadow: none;

}
.btn.sl.sum:hover{
  border: solid #ddd;
  background-color:#80b435;
  color: #fff;
}

.btn.sl.minus{
  border-radius: 50%;
  color: black;
  font-weight: bold;
  outline: none;
  height: 50px;
  width: 50px;
  font-weight: bold;
  box-shadow: none;
}
.btn.sl.minus:hover{
  border: solid #ddd;
  background-color:#80b435;
  color: #fff;
}
button.btn.addcart.ml-2 {
  background-color: #f5d311;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  box-shadow: none;

}
button.btn.addcart.ml-2:hover {
  background-color: #80b435;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  transition: 1s;
}
.icon_fb.icon2:hover{
  background-color: #3c5b9b;
  color: #fff;

}
.icon2{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #ddd;
  text-align: center;
  color: #8b8989;
  font-size: 25px;
  border-radius: 3px;
}
.icongm.icon2:hover{
  background-color: #e33729;
  color: #fff;
}
input.form-control.me-2 {
  border-radius: 30px;
  box-shadow: none;
}
button.btn.btn-outline-success {
  border-radius: 30px;
  background-color: #08c25e;
  border: none;
  transition: 0.5s;
  color: white;
}
button.btn.btn-outline-success:hover {
  background-color: #f2b02e;

}
img.card-img-top0 {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}
.card-body{
  padding-top: .25rem!important;
  padding-left: 0px !important;
}
.km{
  background-color: #08c25e;
  width: 1314px;
  height: 150px;
}
.title_sp{
  height: 100px ;
  background-color: #F06F00;
  color: white;
  width: 133px;
}

.khoi{
  position: relative;
  overflow: hidden;
}
.fa-cart-plus{
  display: inline-block;
}
.icon-card{
  height: 40px;
  width: 40px;
  border: solid 0.1px lightgrey;
  border-radius: 50%;
  background-color: #fff;
  color: black;
  font-size: 22px;
  text-align: center;
  display: inline-block;
}
.icon-card:hover{
  background-color: black;
  color: #fff;
  border: none;
  transition: 1s;

}
.stick-note{
  position: absolute;
  left: 7px;
  top: 7px;
  color: white;
  background-color: #F2B02E;
  font-family: 'Comic Sans MS';
  /* padding-top: 15px; */
  z-index: 10000;

}
.weight{
  color: #ea0000;
  margin-left: 5px;
}
.layer1{
  overflow: hidden;

}

.layer2{
  position: absolute;
  top: 30%;
  right: 50%;
  left: 35%;
  opacity: 0;

}
.khoi:hover .layer2{
  opacity: 1;
  transition: 1.5s;

}
.khoi:hover img{
  transform: scale(2);
  transition: 2.5s;
  overflow: hidden;
}
.card-img-top {
  width: 100%;
  height: 270px;
  width: 270px;
  overflow: hidden;
}
.col-md-3:hover .khoi .card-title{
  color: orange;

}
.rating:hover .fa.fa-star-o{
 color: #08c25e;
}
.card-title{
  font-weight: 700;
  font-family: 'roboto';
  font-size: 20px;
  /* color:  #08c25e;; */
}
p.card-text.tensp {
  margin-top: 0;
  margin-bottom: 2PX;
}
.card.text-center {
  margin: 0px;
  background-color: transparent;
}
.bgimg {
  background-image: url("./component/img/br.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  height: 550px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: -106%;
  left: 12%;
}
#timer {
  font-size: 40px !important;
  font-weight: 100;
  color: white;
  /* text-shadow: 0 0 20px #48C8FF; */
  /* padding: 70px 50px; */
  /* background-color: #08c25e; */

}

#timer div {
  display: inline-block;
  width: 118px;
  border-radius:30px ;
  /* padding: 10px 10px; */
  padding-top: 20px ;
  background-color: #F2B02E;
  margin-right: 20px;
}

#timer div span {
  color: #fff !important;
  display: block;
  font-size: .35em;
  font-weight: 400;
  padding: 30px 30px;
}
.middle {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10000000;
}
.container.mt-5.spkm{
  position: relative;
  top: -55%;
  background-color: #fff;
  box-shadow: 0 5px 0 rgb(200 200 200 / 20%);
  z-index: 1;
  border-top: solid 5px orange;
  max-width: 1240px;
}

#timer {
  font-size: 3em;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 20px #48C8FF;
}

#timer div {
  display: inline-block;
  min-width: 90px;
}

#timer div span {
  color: #B1CDF1;
  display: block;
  font-size: .35em;
  font-weight: 400;
}
hr {
  margin: auto;
  width: 40%;
}

.store{
  height: 500px;
}
.avt{
  height: 70px;
  width: 163px;
  border-radius: 50%;
}
.comment{
  font-family: serif!important;
  font-style: italic;
  font-size: 30px;
  line-height: 1.5;
}
.footer {
  height: 1520px;
  background: #333 repeat-x 50% 0;
}
.icon{
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: white;
  border: solid 1px;
  border-radius: 50% !important ;
}
.btn.fb{
  color: #747487 !important
}
.btn.gm{
  color: #747487 !important
}
i.fa.fa-pinterest:hover {
  color: #08c25e !important;
}
.iconfb .icon:hover {
  color: #08c25e;
}
i.fa.fa-instagram:hover {
  color: #08c25e;
}
i.fa.fa-twitter:hover {
  color: #08c25e;
}
i.fa.fa-facebook:hover {
  color: #08c25e;
}
i.fa.fa-instagram:hover {
  color: #08c25e;
}
input.form-control.ml-2 {
  height: 62px;
  max-width: 425px;
  border-radius: 30px;
}
button.btn.sent-email {
  background-color: #08c25e;
  height: 62px;
  color: white;
  font-weight: 700;
  border-radius: 30px;
  width: 155px;
}
button.btn.sent-email:hover{
  background-color:#08c25e ;
}
a.store{
  color:#08c25e !important ;
}
a{
  color: #fff;
  text-decoration: none !important;
}
a:hover{
  color:#08c25e !important ;
}
i.fa.fa-map-marker {
  font-size: 30px;
  color: white;

}
i.fa.fa-phone {
  font-size: 30px;
  color: white;
}
i.fa.fa-envelope {
  font-size: 28px;
  color: white;
}
p.help.is-danger{
  color: #ff3860;
  font-size: 0.75rem;
  margin-top: 0.25rem;

}
@media only screen and (max-width: 600px) {
  .modal-content {
      width: 350px !important;
  }
  .middle.mt-5{
      display: none;
      color: #08c25e;
  }
  .modal .fade .show{
      width: 360px;

  }
  .middle{
      display: none;
  }
  .danhmucsanpham{
      display: none;
  }
  .container.pb-4.mt-5.spkm {

      left: 0px;

  }
}
@media only screen and (max-width: 400px) {
  /* .store.container{
      margin-top: 317%;
  } */
  .container.logostore {
    margin-top: 450px;
}
  .danhmucsanpham{
      display: none;
  }
  .container.mt-5.spkm {

      left: 0px;

  }
  .store{
      margin-top: 300%;
  }
  /* .footer{
      margin-top: 300%;
  } */
  .col-md-1.text-right {
    display: none;
}
}
